* {
  font-family: JetBrainsMono Nerd Font;
}

window.panel {
  font-size: 12pt;
  background: black;
  margin-bottom: 4px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

content {
  padding: 0px 15px 0px 15px;
}

.workspace {
  padding: 0px 5px;
  opacity: 0.5;
  transition: opacity 0.2s,;

  &:hover {
    opacity: 0.8;
  }

  &.visible {
    opacity: 1;
  }
}

.battery {
  opacity: 0.6;

  &.charging {
    opacity: 1;
    color: #aaaaff;
  }
}

tooltip {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}

.container * {
  margin: 0px 8px;

  &:last-child {
    margin-right: 5px;
  }

  &:first-child {
    margin-left: 5px;
  }
}

.layout {
  transition: opacity 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

